<!-- /panel content -->
<div class="content-wrapper">

    <!-- Inner content -->
    <div class="content-inner">

        <!-- Page header -->
        <div class="page-header page-header-light shadow">
            <div class="page-header-content d-lg-flex">
                <div class="d-flex">
                    <h4 class="page-title mb-0">
                        Kategori - <span class="fw-normal">Tüm Kategoriler</span>
                    </h4>

                    
                </div>

                
            </div>
        </div>
        <!-- /page header -->


        <!-- Content area -->
        <div class="content">

            <!-- Task manager table -->
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Tüm Kategoriler</h5>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tarih</th>
                            <th>Kategori Adı Türkçe</th>
                            <th>Kategori Adı İngilizce</th>
                            <th>Kategori Adı Arapça</th>
                            <th>Yazı Sayısı</th>
                            <th class="text-end"><i class="ph-pen"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each category}}
                        <tr>
                            <td>{{@index}} </td>
                            <td>{{moment date}}</td>
                            <td>{{categoryNameTR}} </td>
                            <td>{{categoryNameEN}} </td>
                            <td>{{categoryNameAR}} </td>
                            <td>{{blogCount}} </td>
                            <td class="text-end text-indigo"> <a href="/admin/kategoriler/kategori/{{_id}}">Düzenle</a> <form action="/admin/kategoriler/kategori/delete/{{_id}}" method="post"><a class="text-danger" onclick="this.parentNode.submit()">Sil</a></form></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <!-- /task manager table -->

        </div>
        <!-- /content area -->


        <!-- Footer -->
        <div class="navbar navbar-sm navbar-footer border-top">
            <div class="container-fluid">
                <span>&copy; 2022 <a
                        href="https://themeforest.net/item/limitless-responsive-web-application-kit/13080328">Limitless
                        Web App Kit</a></span>

                <ul class="nav">
                    <li class="nav-item">
                        <a href="https://kopyov.ticksy.com/" class="navbar-nav-link navbar-nav-link-icon rounded"
                            target="_blank">
                            <div class="d-flex align-items-center mx-md-1">
                                <i class="ph-lifebuoy"></i>
                                <span class="d-none d-md-inline-block ms-2">Support</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item ms-md-1">
                        <a href="https://demo.interface.club/limitless/demo/Documentation/index.html"
                            class="navbar-nav-link navbar-nav-link-icon rounded" target="_blank">
                            <div class="d-flex align-items-center mx-md-1">
                                <i class="ph-file-text"></i>
                                <span class="d-none d-md-inline-block ms-2">Docs</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /footer -->

    </div>
    <!-- /inner content -->

</div>
<!-- //panel content -->