<!-- /panel content -->
<div class="content-wrapper">

    <!-- Inner content -->
    <div class="content-inner">

        <!-- Page header -->
        <div class="page-header page-header-light shadow">
            <div class="page-header-content d-lg-flex">
                <div class="d-flex">
                    <h4 class="page-title mb-0">
                        Sorular - <span class="fw-normal">Tüm Sorular</span>
                    </h4>

                    
                </div>

                
            </div>
        </div>
        <!-- /page header -->


        <!-- Content area -->
        <div class="content">

            <!-- Task manager table -->
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Tüm Sorular</h5>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tarih</th>
                            <th>Soru</th>
                            <th>Cevap</th>
                            <th>Görüntülenme</th>
                            <th class="text-end"><i class="ph-pen"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each question}}
                        <tr>
                            <td>{{@index}} </td>
                            <td>{{moment date}}</td>
                            <td>{{questionName}}</td>
                            <td>
                                <div class="text-muted">{{{toText questionDesc}}}</div>
                            </td>
                            <td>{{view}} </td>
                            <td class="text-end text-indigo"> <a href="">Düzenle</a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <!-- /task manager table -->

        </div>
        <!-- /content area -->
    </div>
    <!-- /inner content -->

</div>
<!-- //panel content -->